.main-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
}

/* 왼쪽 헤더 아이콘 스타일 */
.left-header img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* 오른쪽 헤더 링크 스타일 */
.right-header a {
    margin-right: 16px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* 링크 hover 스타일 */
.right-header a:hover {
    text-decoration: underline; /* 밑줄 추가 */
    transform: translateY(-2px); /* 살짝 위로 올라가는 효과 */
}